SetEnv PHP_VER 5_4

Options +FollowSymlinks -indexes

# Optimisation des requêtes http
<IfModule expires_module>
        ExpiresActive On
        ExpiresDefault "access"
       
        ExpiresByType text/javascript "access plus 1 year"
        ExpiresByType application/javascript "access plus 1 year"
        ExpiresByType application/x-javascript "access plus 1 year"
        ExpiresByType text/css "access plus 1 year"
        ExpiresByType image/gif "access plus 1 year"
        ExpiresByType image/jpg "access plus 1 year"
        ExpiresByType image/jpeg "access plus 1 year"
        ExpiresByType image/png "access plus 1 year"
        ExpiresByType image/bmp "access plus 1 year"
</IfModule>
 
<IfModule deflate_module>
        AddOutputFilterByType DEFLATE text/php text/html text/txt text/javascript text/css application/javascript application/x-javascript
</IfModule>

FileETag none

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
